@page
@model CrudLiteDB.Pages.DeleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Deletar";
}


<h2>Deletar Cliente</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">@Model.Cliente.Nome</div>
    <div class="panel-body">@Model.Cliente.Telefone</div>
</div>

<form method="post">
    <input asp-for="Cliente.ClienteId" hidden />
    <button type="submit" class="btn btn-danger">Deletar</button>
    <a asp-page="index" class="btn btn-link">Voltar</a>
</form>