@page
@model CrudLiteDB.Pages.DetailsModel
@{
    ViewData["Title"] = "Detalhes";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>

    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/js/main.js" rel="javascript" />

</head>

<h2>Detalhes</h2>

<hr />

<form method="post">

    <fieldset>
        <input asp-for="Cliente.ClienteId" hidden />
        <fieldset class="grupo">

            <div class="campo">

                <input asp-for="Cliente.Nome" placeholder="Nome" id="nome" name="nome" value="">
            </div>
            <div class="campo">
                <input asp-for="Cliente.Sobrenome" placeholder="Sobrenome" id="snome" name="snome" value="">
            </div>
        </fieldset>
        <fieldset class="grupo">
            <div class="campo">
                <input asp-for="Cliente.Email" placeholder="E-mail" id="email" name="email" value="">
            </div>
            <div class="campo">
                <input asp-for="Cliente.Telefone" onkeyup="somenteNumeros(this);"
                       placeholder="Telefone" id="telefone" name="telefone" value="">
            </div>
        </fieldset>

        <button type="submit" class="botao botao-submit">Salvar</button>
        <a asp-page="index" class="botao botao-link">Voltar</a>
    </fieldset>
</form>