@page
@model CrudLiteDB.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit</h2>
<hr />

<form method="post">
    <input asp-for="Cliente.Id" hidden />

    <input asp-for="Cliente.Nome" placeholder="Name" class="form-control" />
    <br>
    <input asp-for="Cliente.Telefone" placeholder="Description" class="form-control" />
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="index" class="btn btn-link">Back to list</a>

</form>